*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* html{
    scroll-behavior: smooth;
} */
/* body{
    margin: 5%;
} */

.flex{
    display: flex;
}
body{
    background-color: #FFFFF4;
    font-family: 'Roboto', sans-serif;
    color: #0A0402;
    font-style: regular;
    font-size: clamp(13px, 10vw, 18px);
    line-height: 21px;
}
img{
    /* garder ratio d'une image  */
    object-fit: cover;
    /* reponsive */
    display: block;
    max-width: 100%;
}
div{
    height: auto;
}
button{
    border-radius: 5px;
    border: 1px solid #fcbc25;
    background-color: #FFEEC6;
    padding: .4% 3% .4% 3%;
    /* padding: top right bottom left*/
    transition: background-color .5s;
    /* font-family: 'Italiana', serif; */
    font-family: 'Roboto', sans-serif;
    color: #0A0402;
    font-size: clamp(13px, 10vw, 18px);
    line-height: 30px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}
button:hover {
    color: #fcbc25;
    background-color: #0F414F;
    border: 1px solid #0F414F;
  }
p{
    font-size: clamp(13px, 10vw, 18px);
}
h1, h2, h3, h4, h5{
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Italiana', serif;
    font-weight: 700;
}
h1{
    font-size: clamp(40px, 10vw, 50px);
}
h2{
    font-size: clamp(32px, 10vw, 42px);
}
h3{
    font-size: clamp(26px, 10vw, 36px);
}
h4{
    font-size: clamp(20px, 10vw, 30px);
}
h5{
    font-size: clamp(18px, 10vw, 26px);
}

/* HEADER */
/* NAV */
nav{
    /* border: 3px solid red; */
    min-width: 100vw;
    min-height: 10vh;
    background-color: #0F414F;
    justify-content: space-between;
}
.logo{
    margin-left: 10%;
    min-width: 20%;
    /* border: 3px solid orange; */
}
.menulinks{
    justify-content: space-around;
    align-items: center;
    gap: 30%;
    margin-right: 10%;
    /* border: 3px solid yellow; */
}
nav a{
    text-decoration: none;
    color: cornsilk;
    margin-left: 5%;
    transition: color .5s;
}
a:hover {
    color: #fcbc25;
  }
#title{
    min-height: 16vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 7vh;
}

/* MAIN */
/* main{
    border: 5px solid green;
} */

/* ABOUT */
#about{
    min-width: 100vw;
    justify-content: space-between;
    margin-bottom: 10vh;
}
#about img{
    min-width: 100%; 
    align-items: center;
}
#about article{
    flex-direction: column;
    justify-content: center; 
    padding: 2% 10% 0% 5%;
    /* padding: top right bottom left*/
}
#about aside{
    min-width: 40%;
    flex-direction: column;
    justify-content: flex-end;
}
#about p{
    color: grey;
    margin-bottom: 5%;
    margin-top: 3%;
}
/* NEWSLETTER */
#newsletter{
    min-height: 25vh;
    background-color: #F0F0ED;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
#newsletter a{
    font-size: clamp(12px, 10vw, 17px);
    text-decoration: none;
    color: #0A0402;
    transition: color .5s;
}
#newsletter a:hover {
    color: #fcbc25;
  }
/* SIGNATURE */
#signature{
    min-width: 100vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 0% 5% 0% 5%;
    /* padding: top right bottom left*/
    /* border: 3px solid red; */
}
#signature img{
    border-radius: 50%;
    max-width: 40%;
}
#signature img .macarons{
    max-width: 10%;
}
#signature h4{
    margin-top: 4%;
}
#signature p{
    color: grey;
    font-size: clamp(13px, 10vw, 18px);
    margin-top: 4%;
    margin-bottom: 6%; 
}
.signaturebox{
    flex-direction: column;
    justify-content: center; 
    padding: 3% 5% 0% 0%;
    /* padding: top right bottom left*/
}

/* TESTIMONIAL */
#testimonial{
    background-color: #F0F0ED;
    min-width: 100vw;
    min-height: 70vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 5% 5% 5% 5%;
    /* padding: top right bottom left*/
}
#testimonial .container{
    justify-content: space-around;
    align-items: center;
}
#testimonial aside{
    max-width: 48%;
}
#testimonial article{
    max-width: 42%;
    flex-direction: column;
    justify-content: center; 
}
#testimonial p{
    margin-top: 4%;
}
.name{
    justify-content: flex-end;
}

/* FOOTER 1 */
footer{
    padding-left: 5%;
    padding-right: 5%;
}
footer a{
    text-decoration: none;
    color: #0A0402;
    margin-top: 8%;
    transition: color .5s;
}
footer a:hover {
    color: #fcbc25;
}
.linkedin{
    max-width: 20%;
}
.twitter{
    max-width: 20%;
}
footer{
    display: grid;
    grid-gap: 1%;
    min-width: 100vw;
	min-height: 40vh;
    grid-row-gap: 1px #0A0402;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr 1px 1fr;
    grid-template-areas:    
    "logo logo . collections bakery button"
    "line line line line line line"
    "copyright copyright copyright . . socialmedia";
}
.logo{
	grid-area: logo;
    align-self: flex-start;
}
.collections{
	grid-area: collections;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.bakery{
    grid-area: bakery;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.button{
    grid-area: button;
    align-self: flex-start;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}
.copyright{
    grid-area: copyright;
    align-self: center;
}
.socialmedia{
    grid-area: socialmedia;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.line{
    grid-area: line;
    background-color: #0A0402;
}
/* @media (max-width: 550px){
	.container{
		grid-template-areas: 
		'banner banner banner'
		'main main nav'
		'footer footer footer';
	}
}
@media (min-width: 550px) and (max-width: 700px){
	.container{
		grid-template-areas: 
		'nav banner banner'
		'nav main main'
		'nav footer footer';
	}
} */
/* @media (min-width: 700px){
	footer{
		grid-template-areas: 
		'logo collections bakery button'
		'copyright socialmedia socialmedia socialmedia';
	}
} */


